<h2>Admin Page</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Commodity</td>
            <td>Opening</td>
            <td>High</td>
            <td>Low</td>
            <td>Close</td>
            <td><a href="" ng-click="addRecord()"> <span class="glyphicon glyphicon-plus-sign"></span> </a>  </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in commodity">
            <td> <input type="text" ng-model="c.commodity" />  </td>
            <td> <input type="text" ng-model="c.o" />  </td>
            <td> <input type="text" ng-model="c.h" />  </td>
            <td> <input type="text" ng-model="c.l" />  </td>
            <td> <input type="text" ng-model="c.c" />  </td>
            <td><span class="glyphicon glyphicon-remove-sign"></span></td>
        </tr>
    </tbody>
</table>
<button ng-click="saveData()">Save</button>
