<div class="row">
<form>
    <table align="center">
        <tr>
            <td>User Name</td>
            <td><input type="text" ng-model="user"/> </td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" ng-model="passcode"/> </td>
        </tr>
        <tr>
            <td><button ng-click="reset()">Reset</button> </td>
            <td><button ng-click="login()">Login</button> </td>
        </tr>
    </table>
</form>

</div>
    <p>
        admin user :  ramesh@testapp.com <br/>
        password : ramesh
        <br/>
        user  : user1@testapp.com <br/>
        password : password
    </p>
